/vendor/composer/autoload_static.php
/vendor/twig/twig/CHANGELOG
/vendor/twig/twig/phpunit.xml.dist
/tests/wp-tests-config.php
/composer.lock
/vendor/antecedent
/vendor/bin
/vendor/brain
/vendor/doctrine
/vendor/hamcrest/hamcrest-php/.gitignore
/vendor/hamcrest/hamcrest-php/*.json
/vendor/hamcrest/hamcrest-php/*.md
/vendor/hamcrest/hamcrest-php/*.yml
/vendor/hamcrest/hamcrest-php/*.txt
/vendor/hamcrest/hamcrest-php/generator
/vendor/hamcrest/hamcrest-php/tests
/vendor/mockery
/vendor/php-curl-class/php-curl-class/docs
/vendor/php-curl-class/php-curl-class/examples
/vendor/php-curl-class/php-curl-class/scripts
/vendor/php-curl-class/php-curl-class/tests
/vendor/php-curl-class/php-curl-class/LICENSE
/vendor/php-curl-class/php-curl-class/.gitignore
/vendor/php-curl-class/php-curl-class/*.json
/vendor/php-curl-class/php-curl-class/*.md
/vendor/php-curl-class/php-curl-class/*.yml
/vendor/php-curl-class/php-curl-class/*.txt
/vendor/phpdocumentor
/vendor/phpspec
/vendor/phpunit
/vendor/sebastian
/vendor/symfony
/vendor/twig/twig/doc
/vendor/twig/twig/ext
/vendor/twig/twig/test
/vendor/twig/twig/LICENSE
/vendor/twig/twig/.*
/vendor/twig/twig/*.json
/vendor/twig/twig/*.md
/vendor/twig/twig/*.rst
/vendor/twig/twig/*.txt
/vendor/twig/twig/*.yml
